@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome</h2>

<p>
    Aardvark attack!
</p>

<form method="post" action="@Url.Action("SetCookie")">
    <label for="password">Password: </label>
    <input type="password" name="password" /><br />
    <input type="submit" class="btn btn-primary" value="Go" />
</form>