@model FanMatch.Models.Person

@{
    var fandoms = Model.Fandoms.ToList();
    var s = fandoms.Count == 1 ? "" : "s";
    
    }

<span class="personTag">
@if (Model.IsReader)
{
    <i class="icon-headphones"></i>
}
@if (Model.IsWriter)
{
    <i class="icon-book"></i>
}
@if (Model.CanMatchMultiple)
{
    <i class="icon-repeat"></i>
}

    <span class="personName">
@Model.Name
    </span>

(<a class="fandom-tip" title="@(String.Join(", ", fandoms.Select(f=>f.Name).OrderBy(t => t)))">@fandoms.Count fandom@(s)</a>)
    </span>